<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Recipe form</title>


    <!-- Latest compiled and minified CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet"
          th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script crossorigin="anonymous"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</head>

<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form method="post" th:action="@{/recipe/}" th:object="${recipe}">


                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                    <p>Please Correct Errors Below</p>
                </div>

                <input th:field="*{id}" type="hidden"/>

                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header">
                        <h1 class="card-title">Edit Recipe Information</h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 form-group" th:class="${#fields.hasErrors('description')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                <label>Recipe Description:</label>
                                <input class="form-control" th:errorclass="is-invalid" th:field="*{description}"
                                       type="text"/>
                                <span class="help-block" th:if="${#fields.hasErrors('description')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('description')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label>Categories:</label>
                            </div>
                            <div class="col-md-9 form-group">
                                <div class="radio">
                                    <label>
                                        <input type="checkbox" value=""/>
                                        Cat 1
                                    </label>
                                </div>
                                <div class="radio" th:remove="all">
                                    <label>
                                        <input type="checkbox" value=""/>
                                        Cat 2
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group" th:class="${#fields.hasErrors('prepTime')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                <label>Prep Time:</label>
                                <input class="form-control" th:errorclass="is-invalid" th:field="*{prepTime}"
                                       type="text"/>
                                <span class="help-block" th:if="${#fields.hasErrors('prepTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('prepTime')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                            </div>
                            <div class="col-md-3 form-group" th:class="${#fields.hasErrors('cookTime')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                <label>Cooktime:</label>
                                <input class="form-control" th:errorclass="is-invalid" th:field="*{cookTime}"
                                       type="text"/>
                                <span class="help-block" th:if="${#fields.hasErrors('cookTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('cookTime')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Difficulty:</label>
                                <select class="form-control" th:field="*{difficulty}">
                                    <option th:each="difficultyValue : ${T(cursospring.recipeapp.model.Difficulty).values()}"
                                            th:text="${difficultyValue.name()}"
                                            th:value="${difficultyValue.name()}"
                                    >val
                                    </option>
                                </select>
                                <select class="form-control" th:remove="all">
                                    <option>Easy</option>
                                    <option>Medium</option>
                                    <option>Hard</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group" th:class="${#fields.hasErrors('servings')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                <label>Servings:</label>
                                <input class="form-control" th:errorclass="is-invalid" th:field="*{servings}"
                                       type="text"/>
                                <span class="help-block" th:if="${#fields.hasErrors('servings')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('servings')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Source:</label>
                                <input class="form-control" th:field="*{source}" type="text"/>
                            </div>
                            <div class="col-md-3 form-group" th:class="${#fields.hasErrors('url')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                <label>URL:</label>
                                <input class="form-control" th:errorclass="is-invalid" th:field="*{url}" type="text"/>
                                <span class="help-block" th:if="${#fields.hasErrors('url')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('url')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-11 ">
                                <h1 class="card-title">Ingredients</h1>
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-default" href="#"
                                   role="button" th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}">Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li th:remove="all">1 Cup of milk</li>
                                    <li th:remove="all">1 Teaspoon of chocolate</li>
                                    <li th:each="ingredient : ${recipe.ingredients}"
                                        th:text="${(ingredient.getAmount() +
                                        ' ' + ingredient.uom.getDescription() +
                                        ' - ' + ingredient.getDescription())}">1 Teaspoon of Sugar
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header">
                        <h1 class="card-title">Directions</h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 form-group" th:class="${#fields.hasErrors('directions')}
                                ? 'col-md-12 form-group has-error' : 'col-md-12 form-group'">
                                    <textarea class="form-control" rows="3"
                                              th:field="*{directions}" th:errorclass="is-invalid"></textarea></div>
                        </div>
                    </div>
                    <span class="help-block" th:if="${#fields.hasErrors('directions')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('directions')}" th:text="${err}"/>
                        </ul>
                    </span>
                </div>
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header">
                        <h1 class="panel-title">Notes</h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <textarea class="form-control" rows="3" th:field="*{notes.recipeNotes}"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>

            </form>
        </div>
    </div>
</div>
</body>
</html>